docs
docsmd
typedoc.*
images
demos
scripts
test
test-results
e2e
playwright.config.*
demos
CHANGELOG.md
colorramp.md
src
!dist/src
*.tgz
.github
.editorconfig
.husky
.idea
.vscode
build
vite.config-*
vitest-setup-tests.ts
eslint.config.*
