/* Overiding the default dark mode with color scheme from the light mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--light-color-background);
    --color-background-secondary: var(--light-color-background-secondary);
    --color-background-warning: var(--light-color-background-warning);
    --color-warning-text: var(--light-color-warning-text);
    --color-icon-background: var(--light-color-icon-background);
    --color-accent: var(--light-color-accent);
    --color-text: var(--light-color-text);
    --color-text-aside: var(--light-color-text-aside);
    --color-link: var(--light-color-link);
    --color-ts: var(--light-color-ts);
    --color-ts-interface: var(--light-color-ts-interface);
    --color-ts-enum: var(--light-color-ts-enum);
    --color-ts-class: var(--light-color-ts-class);
    --color-ts-function: var(--light-color-ts-function);
    --color-ts-namespace: var(--light-color-ts-namespace);
    --color-ts-private: var(--light-color-ts-private);
    --color-ts-variable: var(--light-color-ts-variable);
    --external-icon: var(--light-external-icon);
    --color-scheme: var(--light-color-scheme);
  }
}

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  color: #6B7C92;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-family: "Ubuntu","Open Sans",sans-serif;
  color: #525a65; 
}

.tsd-page-toolbar {
  background: #fff;
}

#tsd-search > .title {
  background-image: url("data:image/svg+xml;charset=utf-8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%20161%2041%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20xml%3Aspace%3D%22preserve%22%20xmlns%3Aserif%3D%22http%3A%2F%2Fwww.serif.com%2F%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A2%3B%22%3E%0A%20%20%20%20%3Cg%20transform%3D%22matrix(1%2C0%2C0%2C1%2C-1.20801%2C-0.711928)%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M11.965%2C33.743C14.023%2C35.769%2019.5%2C41.264%2019.497%2C41.269C19.477%2C41.305%2024.938%2C35.908%2027.113%2C33.768L19.526%2C26.3L11.965%2C33.743Z%22%20style%3D%22fill%3Argb(58%2C24%2C136)%3Bfill-rule%3Anonzero%3B%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M19.526%2C26.3L27.113%2C33.768C27.124%2C33.756%2027.138%2C33.741%2027.15%2C33.731L34.73%2C26.27L27.143%2C18.802L19.526%2C26.3Z%22%20style%3D%22fill%3Argb(3%2C161%2C196)%3Bfill-rule%3Anonzero%3B%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M34.73%2C26.27L34.749%2C26.25C38.942%2C22.123%2038.945%2C15.435%2034.762%2C11.302L27.144%2C18.802L34.73%2C26.27Z%22%20style%3D%22fill%3Argb(5%2C208%2C223)%3Bfill-rule%3Anonzero%3B%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M11.908%2C18.802L4.349%2C26.243C4.351%2C26.245%204.352%2C26.248%204.355%2C26.25L11.953%2C33.73C11.957%2C33.734%2011.961%2C33.738%2011.966%2C33.743L19.526%2C26.3L11.908%2C18.802Z%22%20style%3D%22fill%3Argb(118%2C31%2C232)%3Bfill-rule%3Anonzero%3B%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M19.526%2C11.303L27.143%2C18.802L34.762%2C11.303C34.755%2C11.298%2034.753%2C11.295%2034.749%2C11.29L27.15%2C3.81C27.149%2C3.808%2027.146%2C3.806%2027.144%2C3.804L19.526%2C11.303Z%22%20style%3D%22fill%3Argb(255%2C170%2C1)%3Bfill-rule%3Anonzero%3B%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M4.317%2C11.328C0.161%2C15.46%200.172%2C22.124%204.349%2C26.243L11.908%2C18.802L4.317%2C11.328Z%22%20style%3D%22fill%3Argb(241%2C23%2C93)%3Bfill-rule%3Anonzero%3B%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M19.526%2C11.303L11.934%2C3.829L4.355%2C11.29C4.341%2C11.303%204.33%2C11.317%204.316%2C11.329L11.908%2C18.802L19.526%2C11.303Z%22%20style%3D%22fill%3Argb(251%2C58%2C27)%3Bfill-rule%3Anonzero%3B%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M27.144%2C3.804C22.946%2C-0.321%2016.148%2C-0.319%2011.953%2C3.81L11.934%2C3.829L19.526%2C11.303L27.144%2C3.804Z%22%20style%3D%22fill%3Argb(251%2C201%2C53)%3Bfill-rule%3Anonzero%3B%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M58.567%2C28.139L58.567%2C20.497C58.567%2C18.616%2057.566%2C16.908%2055.595%2C16.908C53.654%2C16.908%2052.508%2C18.616%2052.508%2C20.497L52.508%2C28.139L48.922%2C28.139L48.922%2C13.84L52.244%2C13.84L52.508%2C15.578C53.273%2C14.129%2054.949%2C13.609%2056.33%2C13.609C58.066%2C13.609%2059.8%2C14.304%2060.624%2C16.271C61.918%2C14.245%2063.595%2C13.667%2065.476%2C13.667C69.593%2C13.667%2071.622%2C16.155%2071.622%2C20.44L71.622%2C28.139L68.034%2C28.139L68.034%2C20.44C68.034%2C18.559%2067.24%2C16.966%2065.301%2C16.966C63.359%2C16.966%2062.153%2C18.616%2062.153%2C20.497L62.153%2C28.139L58.567%2C28.139Z%22%20style%3D%22fill-rule%3Anonzero%3B%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M86.765%2C13.87L90.206%2C13.87L90.206%2C28.139L86.824%2C28.139L86.647%2C26.056C85.825%2C27.734%2083.561%2C28.543%2081.943%2C28.573C77.651%2C28.603%2074.474%2C25.997%2074.474%2C20.989C74.474%2C16.069%2077.798%2C13.493%2082.033%2C13.522C83.973%2C13.522%2085.824%2C14.419%2086.647%2C15.838L86.765%2C13.87ZM78.062%2C20.989C78.062%2C23.71%2079.973%2C25.331%2082.355%2C25.331C88%2C25.331%2088%2C16.677%2082.355%2C16.677C79.973%2C16.677%2078.062%2C18.269%2078.062%2C20.989Z%22%20style%3D%22fill-rule%3Anonzero%3B%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M93.236%2C34.105L93.236%2C13.87L96.589%2C13.87L96.822%2C15.838C97.94%2C14.245%2099.882%2C13.551%20101.528%2C13.551C105.996%2C13.551%20108.968%2C16.822%20108.968%2C21.019C108.968%2C25.187%20106.291%2C28.487%20101.645%2C28.487C100.118%2C28.487%2097.852%2C28.023%2096.822%2C26.461L96.822%2C34.104L93.236%2C34.104L93.236%2C34.105ZM105.381%2C21.019C105.381%2C18.791%20103.851%2C16.966%20101.264%2C16.966C98.676%2C16.966%2097.146%2C18.791%2097.146%2C21.019C97.146%2C23.247%2098.823%2C25.073%20101.264%2C25.073C103.705%2C25.073%20105.381%2C23.247%20105.381%2C21.019Z%22%20style%3D%22fill-rule%3Anonzero%3B%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M115.378%2C9.528L115.378%2C13.84L120.319%2C13.84L120.319%2C15.026L115.378%2C15.026L115.378%2C23.739C115.378%2C25.679%20115.791%2C27.04%20118.055%2C27.04C118.76%2C27.04%20119.554%2C26.808%20120.289%2C26.461L120.789%2C27.617C119.877%2C28.054%20118.965%2C28.342%20118.055%2C28.342C114.968%2C28.342%20113.967%2C26.547%20113.967%2C23.74L113.967%2C15.027L110.879%2C15.027L110.879%2C13.84L113.967%2C13.84L113.967%2C9.672L115.378%2C9.528Z%22%20style%3D%22fill-rule%3Anonzero%3B%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M125.554%2C9.18C125.554%2C10.685%20123.23%2C10.685%20123.23%2C9.18C123.23%2C7.675%20125.554%2C7.675%20125.554%2C9.18ZM123.643%2C13.782L123.643%2C28.14L125.082%2C28.14L125.082%2C13.782L123.643%2C13.782Z%22%20style%3D%22fill-rule%3Anonzero%3B%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Crect%20x%3D%22129.199%22%20y%3D%227.878%22%20width%3D%221.441%22%20height%3D%2220.261%22%20style%3D%22fill-rule%3Anonzero%3B%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M153.488%2C13.84L153.547%2C16.389C154.459%2C14.448%20156.518%2C13.696%20158.37%2C13.696C159.459%2C13.667%20160.515%2C13.956%20161.486%2C14.536L160.839%2C15.693C160.076%2C15.23%20159.221%2C15.027%20158.37%2C15.027C155.663%2C15.057%20153.576%2C17.198%20153.576%2C19.804L153.576%2C28.14L152.135%2C28.14L152.135%2C13.84L153.488%2C13.84Z%22%20style%3D%22fill-rule%3Anonzero%3B%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M135.54%2C23.414C135.541%2C23.415%20135.543%2C23.417%20135.543%2C23.418L147.303%2C20.354C147.302%2C20.349%20147.302%2C20.345%20147.302%2C20.341L135.54%2C23.414Z%22%20style%3D%22fill-rule%3Anonzero%3B%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M141.214%2C27.28C138.654%2C27.28%20136.461%2C25.701%20135.543%2C23.458L135.535%2C23.458L135.542%2C23.457C135.542%2C23.456%20135.541%2C23.455%20135.54%2C23.454L147.301%2C20.38C147.301%2C20.385%20147.302%2C20.389%20147.302%2C20.394L148.555%2C20.068C148.049%2C16.446%20144.956%2C13.658%20141.214%2C13.658C137.12%2C13.658%20133.802%2C16.996%20133.802%2C21.113C133.802%2C25.23%20137.12%2C28.569%20141.214%2C28.569C144.276%2C28.569%20146.905%2C26.7%20148.035%2C24.037L146.855%2C23.532C145.921%2C25.734%20143.747%2C27.28%20141.214%2C27.28ZM135.083%2C21.113C135.083%2C17.708%20137.828%2C14.946%20141.214%2C14.946C143.862%2C14.946%20146.117%2C16.634%20146.976%2C18.999L135.16%2C22.085C135.11%2C21.768%20135.083%2C21.444%20135.083%2C21.113Z%22%20style%3D%22fill-rule%3Anonzero%3B%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A"); 
  background-repeat: no-repeat;
  color: #0000;
  font-size: 1.5em;
}

.tsd-page-title  h2 {
  display: none;
}

.tsd-page-toolbar--hide {
  transform: none;
}

.col-menu--hide {
  top: 4em;
}


.tsd-page-toolbar {
  border-color: #d3dbec;
}

.col-menu {
  border-left: none;
  background-color: #F3F6FF;
}

.menu-sticky-wrap {
  top: 2.5rem;
  margin-top: 2.5rem;
  /* height: 100vh; */
  height: calc(100vh - 2.5rem);
}

.tsd-generator {
  display: none;
}

.settings {
  display: none;
}

.tsd-navigation a {
  color: #252525;
}

.tsd-navigation.primary ul li a:hover {
  border-color: #b3deff;
}

.tsd-navigation.primary li.selected > a,
.tsd-navigation.primary li.current > a {
  border-color: #8bc9f9;
}

.tsd-index-panel > .tsd-index-heading {
  display: none;
}

#tsd-search.has-focus {
  background-color: #fff;
}

.tsd-navigation.secondary {
  border-top: solid 1px #d3dbec;
  padding-top: 1rem;
}

pre {
  border-color: #d3dbec;
}

code, pre {
  border-radius: 3px;
  background-color: #fafbff;
}
